@use '../../../styles/globals.module.scss';

.genericButton {
  min-width: 6rem;
  height: 3.5rem;
  border: none;
  border-radius: globals.$border-radius;
  padding: 1rem;
  @include globals.displayFlex(row, center, center);
  font-family: globals.$enfasis-text;
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 600;
  background-color: globals.$primary-color;
}

.genericButton:hover {
  color: globals.$primary-color;
  background-color: #ffffff;
  box-shadow: globals.$box-shadow;
  transition: all 0.3s;
}