@use '../../../styles/globals.module.scss';

.navBar {
  width: 100%;
  height: 7rem;
  padding: 0 2rem;
  @include globals.displayFlex(row, space-between, center);
  background-color: globals.$secondary-color;

  .navBar__logo {
    width: 13.5rem;
  }

  .navBar__options {
    width: 40%;
    @include globals.displayFlex(row, space-around, center);
    font-family: globals.$enfasis-text;
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 500;
    list-style: none;
  }

  .navBar__option:hover {
    color: globals.$primary-color;
  }
}