@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ubuntu:wght@400;500;700&display=swap');

$general-text: 'IBM Plex Sans', sans-serif;
$enfasis-text: 'Ubuntu', sans-serif;
$primary-color: #DA1C95;
$secondary-color: #202124;
$gray-color: #AFAFAF;
$box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
$border-radius: 0.5rem;

@mixin displayFlex($flexDirection, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}